/.idea/
/bootstrap/compiled.php
/bower_components
/node_modules
/public_html/uploads/*
/storage/cache/*
/storage/meta/*
/storage/sessions/*
/storage/views/*
/vendor/
/tests/_output/*
.DS_Store
.env
.env.production
.env.testing
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
composer.phar
Homestead.yaml
npm-debug.log
Thumbs.db
tmp-*.html