%preview {
	display: block;
	overflow: hidden;
	margin-bottom: $grid-gutter-width;
	padding-bottom: $grid-gutter-width;
	border-bottom: 1px solid $page-header-border-color;

	&:last-child {
		border-bottom: 0;
	}
}

	%preview__heading {
		display: block;
		overflow: hidden;
	}

		%preview__heading-title {
			font-size: $font-size-h2;
			display: inline;
		}

			%preview__heading-title-link {
				color: $text-color;
				&:hover {
					color: inherit;
				}
			}

	%preview__meta {
		@extend .text-muted;
	}
