%preview {
	display: block;
	overflow: hidden;
	margin-bottom: $grid-gutter-width;
}

	%preview__heading {
		display: block;
		overflow: hidden;
	}

		%preview__heading-title {
		}

			%preview__heading-title-link {
				float: left;
				color: $text-color;
				&:hover {
					color: inherit;
				}
			}

		%preview__heading-label {
			float: left;
			margin: 11px 0 0 15px;
			@extend .label;
			@extend .label-default;
		}

		@media (max-width: $screen-sm-max) {
			%preview__heading-label {
				display: none !important;
			}
		}

	%preview__meta {
		@extend .text-muted;
	}

		%preview__meta-label {
			@extend .label;
			@extend .label-default;

		}

		@media (min-width: $screen-md-min) {
			%preview__meta-label {
				display: none !important;
			}
		}