@font-face {
	font-family: $icons-font;
	src:url('../fonts/icomoon.ec707c57.eot');
	src:url('../fonts/icomoon.ec707c57.eot') format('embedded-opentype'),
	url('../fonts/icomoon.ec707c57.woff') format('woff'),
	url('../fonts/icomoon.ec707c57.ttf') format('truetype'),
	url('../fonts/icomoon.ec707c57.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}