@font-face {
	font-family: $icons-font;
	src:url('../fonts/icomoon.eot?-spjz1m');
	src:url('../fonts/icomoon.eot?#iefix-spjz1m') format('embedded-opentype'),
	url('../fonts/icomoon.woff?-spjz1m') format('woff'),
	url('../fonts/icomoon.ttf?-spjz1m') format('truetype'),
	url('../fonts/icomoon.svg?-spjz1m#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}