@font-face {
	font-family: $icons-font;
	src:url('../fonts/icomoon.e69f70fe.eot');
	src:url('../fonts/icomoon.e69f70fe.eot') format('embedded-opentype'),
	url('../fonts/icomoon.e69f70fe.woff') format('woff'),
	url('../fonts/icomoon.e69f70fe.ttf') format('truetype'),
	url('../fonts/icomoon.e69f70fe.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}