
/**
 *	MISC
 */

$base-border-radius: 14px;



/**
 * COLORS
 */

$color__primary--background: #FFF;
$color__primary--font: #232323;
$color__primary--active: #78BC1F;
$color__primary--compliment: #2F6DB5;


