
// Import assets (requires: gulp-include) (pipe after Sass)
/*
= include ../../../../bower_components/snackbarjs/dist/snackbar.min.css
= include ../../../../bower_components/snackbarjs/themes-css/material.css
/**/

@import "variables";
@import "mixins";
@import "fonts";
@import "bootstrap";
@import "bootswatch";

@import 'blocks';

// Styles for screen and print
@import "base";

// Styles for screen
html{
	min-height: 100%;
	position: relative;
}

body {
	padding-top: 80px;
	padding-bottom: 90px !important;
}