.backtotop {
	display: block;
	position: fixed;
	bottom: 10px;
	right: 10px;

	visibility: hidden;
	opacity: 0;

	width: 40px;
	height: 40px;

	text-align: center;

	color: #ffffff;
	text-decoration: none;
	background: $brand-primary;
	border-radius: 50%;
	transition: all 200ms ease;
	z-index: 10;

	&:hover, &:active, &:focus {
		color: #ffffff;
		background: lighten($brand-primary, 10%);
		text-decoration: none;
	}
}

.backtotop--visible {
	visibility: visible;
	opacity: 1;
}

.backtotop__icon {
	font-size: 20px !important;
	line-height: 40px;
}

@media (min-width: $screen-sm-min) {
	.backtotop {
		bottom: 30px;
		right: 30px;

		width: 60px;
		height: 60px;
	}

	.backtotop__icon {
		font-size: 25px !important;
		line-height: 60px;
	}
}