.blog-item {

}

	.blog-item__heading {
		@extend .page-header;
	}

		.blog-item__heading-meta {
			@extend .text-muted;
		}

	.blog-item__content {
		padding-bottom: $grid-gutter-width;
	}

	.blog-item__comments {
		padding-bottom: $grid-gutter-width;
	}

    .blog-item__comments-count {
        display: none;
    }