.footer {
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
	padding: 20px 0;
	background-color: #F5F5F5;
}

	.footer__menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}
		.footer__menu-item {
			float: left;
			margin-right: $grid-gutter-width / 2;
		}

			.footer__menu-item-link {
				color: $text-color;
				&:hover {
					color: inherit;
				}
			}