// Fix

// Inverse navbar
.navbar-inverse {

	// Dropdowns
	.navbar-nav {

		// Dropdowns get custom display
		.open .dropdown-menu {
			> .dropdown-header {
				border-color: $navbar-default-border;
			}
			.divider {
				background-color: $navbar-default-border;
			}
			> li > a {
				color: $navbar-default-link-color;
				&:hover,
				&:focus {
					color: $navbar-default-link-hover-color;
					background-color: $navbar-default-link-hover-bg;
				}
			}
			> .active > a {
				&,
				&:hover,
				&:focus {
					color: $navbar-default-link-active-color;
					background-color: $navbar-default-link-active-bg;
				}
			}
			> .disabled > a {
				&,
				&:hover,
				&:focus {
					color: $navbar-default-link-disabled-color;
					background-color: $navbar-default-link-disabled-bg;
				}
			}
		}
	}
}