.overview-table {

}

	.overview-table__row {
		cursor: pointer;
	}

		.overview-table__row--online {
			> td {
				background-color: $state-success-bg;
			}
			&:hover > td {
				background-color: darken($state-success-bg, 5%);
			}
		}

		.overview-table__row--offline {
			> td {
				background-color: $state-danger-bg;
			}
			&:hover td {
				background-color: darken($state-danger-bg, 5%);
			}
		}